@font-face {
    font-family: 'Inter';
    src: url("Inter.ttf")
}


body {
    padding-top: 150px;
}

button {
    border-radius: 50px;
    height: 80px;
    width: 180px;
    font-weight: 500;
    font-size: 24px;
}

* {
    font-family: 'Inter';
    text-align: center;
    background-color: #3b3b3b;
    color: #FFFFFF;
    font-weight: 600;
}